<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="Arm" type="system">
      <hardware>
          <!-- <plugin>robot_hardware/ArmHardwareInterface</plugin> -->
          <!-- By default, set up controllers for simulation. This won't work on real hardware -->
          <plugin>mock_components/GenericSystem</plugin>
      </hardware>
      <joint name="Revolute1">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.4745</param>
            <!-- <param name="initial_value">0.608</param> -->
          </state_interface>
          <state_interface name="velocity"/>
          <param name="default_velocity">0.2</param>
      </joint>
      <joint name="Revolute2">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">-1.5707</param>
            <!-- <param name="initial_value">-1.8241</param> -->
          </state_interface>
          <state_interface name="velocity"/>
          <param name="default_velocity">0.2</param>
      </joint>
      <joint name="Revolute3">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
            <!-- <param name="initial_value">-1.7228</param> -->
          </state_interface>
          <state_interface name="velocity"/>
          <param name="default_velocity">0.3</param>
      </joint>
      <joint name="Revolute4">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
          <param name="default_velocity">0.2</param>
      </joint>
      <joint name="Revolute5">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
            <!-- <param name="initial_value">0.9627</param> -->
          </state_interface>
          <state_interface name="velocity"/>
          <param name="default_velocity">0.2</param>
      </joint>
      <joint name="Revolute6">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
          <param name="default_velocity">0.2</param>
      </joint>

  </ros2_control>
</robot>